@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
    z-index: -1;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    opacity: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
    opacity: 10px;
    border-radius: 10px;
}

.card {
    height: 400px; /* Establece la altura deseada */
    overflow: hidden; /* Oculta el contenido que excede el alto */
    position: relative;
}


.description {
    max-height: 150px; /* Establece la altura máxima de la descripción */
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto recortado */
}